In [59]:
import numpy as np
import pandas as pd

In [3]:
pwd

'c:\\Users\\BairesDev\\Desktop\\Santi\\Personal\\Courses\\ITBA\\7_Visualizacion_de_la_Informacion\\infovis\\infovis'

In [163]:
df = pd.read_csv('lichess_OzymandiasS_2021-07-15.csv')
df.head(1)

,Event,Site,Date,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,Variant,TimeControl,ECO,Termination,Moves
0,Rated Bullet game,https://lichess.org/FyDMtnqO,2021.07.15,ricardojose123,OzymandiasS,0-1,2021.07.15,00:25:01,1529,1584,-5,+5,Standard,60+0,B00,Time forfeit,1. e4 d6 2. Nf3 e6 3. d4 g6 4. Bc4 Bg7 5. O-O ...

In [164]:
df["WhiteFirstMove"] = df["Moves"].str[3:df["Moves"][1].index(" ",3)]
df["BlackFirstMove"] = df["Moves"].str[df["Moves"][1].index(" ",3)+1:df["Moves"][1].index(" ",6)]
df["WhiteFirstMove"].replace({"Nc": "Nc3", "Nf": "Nf3"}, inplace=True)
df["BlackFirstMove"].replace({"Nc": "Nc3", "Nf": "Nf3"}, inplace=True)

In [160]:
df["WhiteFirstMove"].unique()

array(['e4', 'd4', 'e3', 'd3', 'c4', 'Nf3', 'g3', 'b3', 'c3', 'g4', 'f4',
       'f3', 'Nc3', 'b4', 'a3', 'h3', nan, 'h4', 'a4'], dtype=object)

In [165]:
df["UTCDate"] = df["UTCDate"].replace({'\.':'/'}, regex=True)

In [166]:
df.head(2)

,Event,Site,Date,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,Variant,TimeControl,ECO,Termination,Moves,WhiteFirstMove,BlackFirstMove
0,Rated Bullet game,https://lichess.org/FyDMtnqO,2021.07.15,ricardojose123,OzymandiasS,0-1,2021/07/15,00:25:01,1529,1584,-5,+5,Standard,60+0,B00,Time forfeit,1. e4 d6 2. Nf3 e6 3. d4 g6 4. Bc4 Bg7 5. O-O ...,e4,d6
1,Rated Bullet game,https://lichess.org/C0uzp7rV,2021.07.15,OzymandiasS,HumphreyBongani,0-1,2021/07/15,00:22:21,1588,1648,-4,+5,Standard,60+0,B50,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 Nc6 4. dxc5 Qa5+ 5. N...,e4,c5